/* esercizio 1*/

.ex-1-square{
    transition: background-color 2.5s ease;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2*/

.ex-2-square{
    transition: width 1.5s linear;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio 3*/

.ex-3-square{
    transition: border-radius 0.4s linear 0.3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio 4*/

.ex-4-square{
    transition: opacity 0.8s linear;
}

.ex-4-square:hover{
    opacity: 0;
}

/* esercizio 5*/

.ex-5-square{
    transition: all 1.2s ease;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* esercizio 6*/

.ex-6-img:hover{
    filter: grayscale(1);
}

/* esercizio 7*/

.ex-7-img{
    transition: all 2s ease; 
}

.ex-7-img:hover{
    filter: grayscale(0.5);
    filter: sepia(0.5);
}

/* esercizio 8*/

.ex-8-img{
    transition: all 1.5s linear;
}

.ex-8-img:hover{
    filter: grayscale(0.6) sepia(0.5);
    border-radius: 30px;

}

/* esercizio 9*/

.ex-9-img{
    transition: all 1.2s ease-out;
}

.ex-9-img:hover{
    filter: grayscale(0.7) sepia(0.5);
    transform: scale(1.5);
    border-radius: 20px;
}

/* esercizio 10*/

.ex-10-icon{
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0%{
        transform: rotate(-360deg);
    }
}

/* esercizio 11*/

.ex-11-icon:hover{
    animation: spin2 2s linear;
}

@keyframes spin2 {
    0% {
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0deg);
    }
}


/* esercizio 12*/

.ex-12-button:hover .ex-12-top-white{
    animation: button1-top 2s linear;
}


.ex-12-button:hover .ex-12-bottom-white{
    animation: button1-bottom 2s linear;
}

@keyframes button1-top {
    0%{
        transform: translate(0,0);
    }

    50%{
        transform: translate(180%,0);
    }

    100%{
        transform: translate(0,0);
    }
}

@keyframes button1-bottom {
    0%{
        transform: translate(0,0);
    }

    50%{
        transform: translate(-150%,0);
    }

    100%{
        transform: translate(0,0);
    }
}

/*esercizio 13*/

.ex-13-button:hover .ex-13-top-white{
    animation: button2-top 2s linear;
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: button2-bottom 2s linear;
}

@keyframes button2-top{
    0%{
        transform: translate(0,0);
    }

    20%{
        transform: translate(250%,0);
    }

    40%{
        transform: translate(200%, 350%);
    }

    60%{
        transform: translate(-50%,350%);
    }

    80%{
        transform: translate(-50%,0%);
    }

    100%{
        transform: translate(0,0);
    }
}

@keyframes button2-bottom{
    0%{
        transform: translate(0,0);
    }

    20%{
        transform: translate(-200%,0);
    }

     40%{
        transform: translate(-200%, -350%);
    }

    60%{
        transform: translate(100%,-350%);
    }

    80%{
        transform: translate(100%,0%);
    }

    100%{
        transform: translate(0,0);
    } 
}